table {
	border-collapse: collapse;
	font-family :Arial;
}

td{
	border: 1px solid red;
	padding: 5px;
	text-align: center;
}

th {
	font-family: Arial;
	border: 1px solid green;
	padding: 5px;
	text-align: center;
}

div{
    width : 400px;
    border:1px solid black;
    font-family:Arial;
    font-size: large;
    padding 5px;
}
