<html>
<head>
<script src = "/home/sushma/angular.min.js"></script>
<script src = "/home/sushma/projects/trails/javascript/multiplesearch.js"></script>
<link href="/home/sushma/projects/trails/CSS/eventstyle.css" rel ="stylesheet" />
</head>
<body ng-app = "myModule">
<div ng-controller = "myController">
<input type="text" placeholder="Search name" ng-model="searchText.name" />
<input type="text" placeholder="Search city" ng-model="searchText.city" />
<input type = "checkbox" ng-model="exactMatch" />Exact Match
<br /><br />
	<table>
		<thead>
			<tr>
			<th>Name</th>
			<th>Gender</th>
			<th>Salary</th>
			<th>City</th>
			</tr>
		<thead>
		<tbody>
		<tr ng-repeat = "emp in employees | filter:searchText:exactMatch">
			<td>{{emp.name}}</td>
			<td>{{emp.gender}}</td>
			<td>{{emp.salary}}</td>
			<td>{{emp.city}}</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>

