table {
	border-collapse: collapse;
	font-family :Arial;
}

td{
	border: 1px solid red;
	padding: 5px;
	text-align: center;
}

th {
	font-family: Arial;
	border: 1px solid green;
	padding: 5px;
	text-align: center;
	cursor:pointer;
}

.arrow-up{
	width: 0;
	height:0;
	border-left : 5px solid transparent;
	border-right : 5px solid transparent;
	border-bottom :10px solid red;
	display:inline-block;
}
.arrow-down{
	width: 0;
	height:0;
	border-left : 5px solid transparent;
	border-right : 5px solid transparent;
	border-top :10px solid green;
	display:inline-block;
}
